$white: #fff;
$light-grey: #ddd;
$dark-grey: #aaa;
$dark-blue: #1e2833;

$font-size: 18px;
$min-display-height: $font-size + $font-size / 2;
$gutter: 15px;

/*Calculator frame*/
$frame-width: 280px;
$frame-radius: 7px;

body {
  background-color: $dark-blue;
  color: $white;
  font-size: $font-size;
}

p {
  font-family: "Ubuntu Mono", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.frame {
  background-color: $light-grey;
  border-radius: $frame-radius;
  width: $frame-width;
  margin: auto;
  padding: 15px 5px;
}

.screen {
  background-color: $dark-blue;
  border-radius: $frame-radius;
  width: 95%;
  margin: auto;
  margin-bottom: 15px;
  
  & .output {
    text-align: right;
    padding: 0 15px;
    min-height: $min-display-height;
    word-wrap: break-word;
  }
}

.keypad {
  background-color: $dark-grey;
  border-radius: $frame-radius;
  width: 95%;
  margin: auto;
  padding: 10px 0;
  text-align: center;
}

.key, .no-key {
  border-radius: $frame-radius;
  background-color: $light-grey;
  color: $dark-blue;
  width: 22%;
  margin: 5px 0;

  &:hover,
  &:focus {
    border: 2px solid $dark-blue;
  }
  
  &.long {
    width: 46%;
  }
}

.footprint {
  color: $dark-blue;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
